<ion-header>
  <ion-navbar>
    <ion-title>Camera</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <!--Inserting button to take call function that takes picture with camera-->
      <button ion-button (click)="takePicture()">Take a Picture</button>
      <br>
      Camera Picture will display below:
      <br>
      <!-- 
        Binding the base64Image varibale to the src attribute of this image.
        Using Angulars in-built *ngIf directive to detect when an image is available to present.
      -->
      <img [src]="base64Image" *ngIf="base64Image" />
      <p>Photo location: {{longtitude}} and {{latitude}}</p>
</ion-content>
